.nav-menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 100;
  border-top: 1px solid #eee;

  background-color: #fff;
  overflow: hidden;
  transition: height 0.3s;

  &:hover {
    height: 229px;
  }

  .nav-menu-item {
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
    img {
      width: 110px;
      height: 110px;
    }
    .phone-price {
      margin: 10px 0;
      font-size: 14px;
      line-height: 20px;
      color: #ff6700;
    }
  }
}
